.body {
    background-color: rgb(201, 201, 201);
}

.navbar {
    background-color: rgb(255, 255, 255);
    height: 3em;
}

.navbar > button {
    background-color: rgb(255, 255, 255);
    margin-left: .5em;
    padding: .1em;
    border: 0;
}

.navbar > .navbarLink > #navbarLogoImage {
    height: 1.6em;
    margin-right: .6em;
}